absl-py==0.7.1
adal==1.2.7
alabaster==0.7.12
applicationinsights==0.11.10
astor==0.7.1
attrs==19.1.0
Babel==2.9.1
backcall==0.1.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bleach==3.1.0
certifi==2020.6.20
cffi==1.15.1
chardet==3.0.4
ci-info==0.2.0
click==7.1.2
cloudpickle==1.6.0
contextlib2==0.6.0.post1
cryptography==3.2.1
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
dicom2nifti==0.0.0
distro==1.6.0
docker==4.4.4
docopt==0.6.2
docutils==0.16
dotnetcore2==2.1.23
entrypoints==0.3
etelemetry==0.2.1
filelock==3.0.12
fusepy==3.0.1
gast==0.2.2
gdown==4.5.1
grpcio==1.20.1
h5py==2.9.0
idna==2.10
imageio==2.8.0
imagesize==1.3.0
importlib-metadata==2.1.3
importlib-resources==3.2.1
imutils==0.5.3
ipykernel==5.1.1
ipyparallel==6.3.0
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
jedi==0.13.3
jeepney==0.4.3
Jinja2==2.10.1
jmespath==0.10.0
joblib==0.13.2
jsonpickle==2.2.0
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.1.1
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
lxml==4.5.2
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mistune==0.8.4
mock==3.0.5
msal==1.18.0
msal-extensions==0.2.2
msrest==0.6.21
msrestazure==0.6.4
munch==2.5.0
nbconvert==5.5.0
nbformat==4.4.0
ndg-httpsclient==0.5.1
networkx==2.4
neurdflib==5.0.1
nibabel==2.4.0
nilearn==0.7.1
nipype==1.4.2
nose==1.3.7
notebook==5.7.8
numexpr==2.6.9
numpy==1.16.3
oauthlib==3.1.0
opencv-python==4.2.0.34
packaging==20.4
pandas==0.24.2
pandocfilters==1.4.2
parso==0.4.0
pathspec==0.9.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
portalocker==1.7.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.7.1
prov==1.5.3
ptyprocess==0.6.0
pyarrow==2.0.0
pyasn1==0.4.8
pycparser==2.21
pydicom==1.3.0
pydot==1.4.1
pydotplus==2.0.2
Pygments==2.4.0
PyJWT==1.7.1
pykwalify==1.7.0
pyOpenSSL==20.0.1
pyparsing==2.4.0
pyradiomics==3.0
pyrsistent==0.15.2
PySocks==1.7.1
python-dateutil==2.8.0
python-dotenv==0.20.0
pytz==2019.1
PyWavelets==1.0.0
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.4.4
radiomics==0.1
rdflib==5.0.0
requests==2.24.0
requests-oauthlib==1.3.1
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.6
scikit-image==0.15.0
scikit-learn==0.21.1
scipy==1.2.1
SecretStorage==3.2.0
Send2Trash==1.5.0
SimpleITK==1.2.4
simplejson==3.17.2
six==1.12.0
sklearn==0.0
snowballstemmer==2.2.0
soupsieve==2.1
spectral==0.22.1
Sphinx==3.5.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
style==1.1.0
tables==3.5.1
tensorboard==1.9.0
tensorflow-estimator==1.13.0
tensorflow-gpu==1.9.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tf-keras-contrib==2.0.8
tornado==6.0.2
tqdm==4.64.0
traitlets==4.3.2
traits==6.1.1
update==0.0.1
urllib3==1.25.10
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.59.0
Werkzeug==0.15.4
widgetsnbextension==3.4.2
zipp==1.2.0
